.mainDiv {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.contentDiv {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* .containerButton {
    border: 3px solid blue;
} */

.gridDiv {
    border: 3px solid rgb(58, 54, 62);
    margin-top: 70px;
    height: 70%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: 3px rgba(92, 99, 95, 0.573) solid;
    height: 6.25%;
    width: 6.25%;
    box-sizing: border-box;
}

.grid:hover {
    background: black;
}

.grid.black {
    background: black;
}